<!DOCTYPE html>
<html>
<head>
	<title>VetsUp</title>
	<link rel="stylesheet" type="text/css" href="static/style2.css">
	<link href="https://fonts.googleapis.com/css2?family=Jost:wght@500&display=swap" rel="stylesheet">
</head>
<body>

  <center>

    <h2><u>Add Employee</u></h2>

    <form action="/add_employee" method="POST">
      <input type="text" name="fName" placeholder="First Name" required="">
      <input type="text" name="lName" placeholder="Last name" required="">
      <input type="text" name="cnic" placeholder="Employee CNIC" required="">
      <input type="number" name="age" placeholder="Employee age" required="">
      <input type="text" name="gender" placeholder="Employee gender" required="">
      <input type="date" name="date" placeholder="Joining Date" required="">
      <input type="text" name="address" placeholder="Employee address" required="">
      <input type="text" name="phoneno" placeholder="Employee Tel" required="">
      <input type = "text" name ="job" placeholder="Employee job" required="">

      <br>
      <button type="submit">Submit</button>
    </form>

  </center>

{% if msg %}
{% if msg != None %}
{{msg}}
{% endif %}
{% endif %}


</body>
</html>
