{% extends "layout.html" %}
{% block body %}
  <center><h1 style="padding-top: 200px;">Patient Receipt</h1></center>
  <div id="bill_table">
  <table id="b_table" class="" style="width: 100%;" border="5">
    <thead>
    </thead>
    <tbody>
      {% if data %}
        <tr>
          <td>id</td>
          <td>{{ data[0][0] }}</td>
        </tr>
        <tr>
          <td>Specie</td>
          <td>{{ data[0][1] }}</td>
        </tr>
        <tr>
          <td>Name</td>
          <td>{{ data[0][2] }}</td>
        </tr>
        <tr>
          <td>Checkup Type</td>
          <td>{{ data[0][3] }}</td>
        </tr>
        <tr>
          <td>Medicine</td>
          <td>{{ data[0][4] }}</td>
        </tr>
        <tr>
          <td>Diagnosis</td>
          <td>{{ data[0][5] }}</td>
        </tr>
        <tr>
          <td>Bill</td>
          <td>{{ data[0][6] }}</td>
        </tr>
    </tbody>
    {% endif %}
  </table>
</div>
<button onclick="window.print()">Print Receipt</button>
{% endblock %}