{% extends "layout.html" %}
{% block body %}
<center>
  
<h1><u>Items</u></h1>
  <span id="error" style="color:red"></span>
<table border="2">
  <tr>
    <th>Select</th>
    <th>ID</th>
    <th>Name</th>
    <th>Price</th>


  </tr>
{% if data %}
{% for d in data %}
<tr>
  <td><input type="radio" value={{d[0]}} name="rradio" ></td>
  {% for d2 in d %}
  <td>{{d2}}</td>
  {% endfor %}
{% endfor %}
</tr>
{% endif %}
</table>
  <button id="delDoctor" type="button">Delete Items</button>
</center>
{% if msg %}
{% if msg != None %}
{{msg}}
{% endif %}
{% endif %}
<script>
    $(document).ready(function(){
        // click on button submit
        $("#delDoctor").on('click', function(){
            // send ajax
            console.log("del");
            var rButton =$("input[type='radio'][name='rradio']:checked").val();
            if(rButton)
            {
              var data = {"id":rButton};
               console.log(data);
              data=JSON.stringify(data)
              console.log(data)
              $.ajax({
                  url: '/api/delshowitem', // url where to submit the request
                  type : "DELETE", // type of action POST || GET
                  data : data, // post data || get data
                  dataType : 'json',
                  contentType: "application/json; charset=utf-8",

                  success : function(result) {
                      // you can see the result from the console
                      // tab of the developer tools
                      if(result.status==="True")
                      {
                        console.log("in result",result);
                        location.reload();
                      }
                      else
                      document.getElementById("error").innerHTML = "Couldn't remove Item";
                  setTimeout(()=>{document.getElementById("error").innerHTML = ""}, 1500);
                  },
                  error: function(xhr, resp, text) {
                      console.log(xhr, resp, text);
                  }

            })
        }
                else
                  document.getElementById("error").innerHTML = "Please Select someone";
                setTimeout(()=>{document.getElementById("error").innerHTML = ""}, 1500);
        });
console.log("in function")
    });
    </script>

{% endblock %}