<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>VetsUp</title>

        <link href='https://cdn.jsdelivr.net/npm/boxicons@2.0.5/css/boxicons.min.css' rel='stylesheet'>

        <link rel="stylesheet" href="https://cdn.lineicons.com/3.0/lineicons.css">

        <link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css">

        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"/>

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;300;400;500;600&display=swap" rel="stylesheet">

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">
      
        <link rel="icon" href="/static/assets/fotter_vets_up.png" type="image/icon type" style="border-radius: 50px;">
        
        <!-- ===== CSS ===== -->
        <link rel="stylesheet" href="/static/main_page_style.css">

    </head>
    <body>
        
    <!-- JS SKD for facebook   -->
    <div id="fb-root"></div>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v14.0" nonce="njtMHEnm"></script>

    <!-- --------------------------- -->

        <section id="header">
            <!-- <a href="#"><img src="/static/assets/VetsUp_temp_cut.png" alt="VetsUp Logo" height="65px" width="165px"></a> -->
            <a href="/"><img src="/static/assets/Vets_2_cut.png" alt="VetsUp Logo" height="70px" width="157px"></a>
        

            <div class="menu">
                <ul id="navbar">
                    <li><a class="active" href="/">Home</a></li>
                    <!-- <li><a href="staff.html">Staff</a> -->
                        <!-- <ul>
                            <li><a class="child" href="aims.html" style="font-size:17px">AIMS</a></li>
                            <li><a class="child" href="acm.html" style="font-size:17px">ADA</a></li>
                        </ul> -->
                    </li>
                    <!-- <li><a href="#">About us</a></li> -->
                    <!-- <li><a href="#">Labs</a>
                        <ul>
                            <li><a class="child" href="#" style="font-size:17px">AIMS</a></li>
                            <li><a class="child" href="#" style="font-size:17px">ADA</a></li>
                        </ul>
                    </li> -->
                    <!-- <li><a href="project.html">Projects</a></li> -->
                    <li><a href="/contact_us">Contact us</a></li>
                    <!-- <a class="btn" href="#">
                      <span class="playme">Log in</span>
                      <span class="playme">Sign up</span>
                  </a> -->
                    <a href="#" id="close"><i class="lni lni-close"></i></a>
                </ul>
            </div>
            <div id="mobile">
              <i id="bar" class="fas fa-outdent"></i>
            </div>
        </section>

        <section id="hero">
            <!-- <h1>Serving Humanity through AI</h1><br> -->
            <!-- <h2>Serving Humanity through AI</h2><br> -->
            <h2 class="serve" data-text="CARE_FOR_ANIMALS">CARE_FOR_ANIMALS</h2><br>
            <h3 id="h3">Clinical Management Software</h3><br>
            <h3 id="h3">Complete Medical Care</h3><br>
            <p id="since">Since 2022</p><br>

            <a class="btn" href="/ls">
                <span class="playme">Log in</span>
                <span class="playme">Sign up</span>
            </a>

            <!-- <button>Play Intro</button> -->
            <!-- <a class="btn" href="#">
                <span class="playme">Play me</span>
                <span class="playme">Play me</span>
            </a> -->
        </section>

 
        <footer class="section-p1">
            <div class="col">
                <a href="index.html"><img class="logo" src="/static/assets/fotter_vets_up.png" alt="" height="115px" width="145px"></a>
                <h4 class="foo">Contact</h4>
                <p style="text-align: justify;"><strong>Address: </strong>90<sup>th</sup> Bank Square Street <br>3<sup>rd</sup> Avenue | Lahore, Pakistan.</p>
                <p><strong>Phone: </strong>+92-090078601</p>
                <p><strong>Hours: </strong>8:00 AM - 2:00 AM (PKT) | Monday - Sunday</p>
                
            </div>
            <div class="col">
                <h4 class="foo">Permalinks</h4>
                <a href="/">Home</a>
                <!-- <a href="index.html">About us</a> 
                <a href="staff.html">Staff</a> 
                <a href="project.html">Projects</a> -->
                <a href="/contact_us">Contact us</a>   
                <a href="/ls">Login</a>
                <a href="/ls">Signup</a>              
            </div>
            <!-- <div class="col">
                <h4 class="foo">Projects</h4>
                <a href="project.html">HDA</a>
                <a href="project.html">Driver agent</a> 
                <a href="project.html">VR agent</a>             
            </div> -->
            <div class="social-pages">
                <h4 class="foo">Follow us</h4>
                <div class="icon">  
                    <a href="https://web.facebook.com/zainalishan"><i class="fab fa-facebook"></i></a>
                    <a href="https://www.linkedin.com/in/zainalishan/"><i class="fab fa-linkedin"></i></a>
                    <a href="https://www.instagram.com/zainalishan/"><i class="fab fa-instagram"></i></a>
                    <a href="https://github.com/ZaynAliShan"><i class="fab fa-github"></i></a>
                    <a href="https://www.youtube.com/c/Friends"><i class="fab fa-youtube"></i></a>
                </div>
            </div>
            <div class="copyright">
                <p>&copy; VetsUp</p>
            </div>
            <div class="copyright">
                <p><a class="developer" href="https://zaynalishan.github.io/portfolio/">Developed by @Team VetsUp</a></p>
            </div>
        </footer> 
          
        

        <!-- ===== MAIN JS ===== -->
        <script src="/static/main_page_script.js"></script>
    </body>
</html>