{% extends "layout.html" %}
{% block body %}
<center>
  
<h1><u>Doctors</u></h1>
<table border="2">
  <tr>
    <th>ID</th>
    <th>First name</th>
    <th>Last name</th>
    <th>Gender</th>
    <th>Address</th>
    <th>Phone no</th>
    <th>Age</th>
    <th>Cnic</th>
    <th>Joining Date</th>
    <th>Leaving Date</th>
    <th>Visiting Time</th>
    <th>Number of Days</th>
    <th>Rank</th>
  </tr>
{% if data %}
{% for d in data %}
<tr>
  {% for d2 in d %}
  <td>{{d2}}</td>
  {% endfor %}
{% endfor %}
</tr>
{% endif %}
</table>

<form action="/input_remove_doctor" method="POST">
  <input type="number" name="id" placeholder="Enter Doctor ID:" required="">
  <button type="submit">Choose</button>
</form>

</center>
{% if msg %}
{% if msg != None %}
{{msg}}
{% endif %}
{% endif %}
{% endblock %}