{% extends "layout.html" %}
{% block body %}
<center>
  
<h1><u>Appointments</u></h1>
<table border="2">
  <tr>
    <th>Appointment ID</th>
    <th>Patient ID</th>
    <th>Doctor ID</th>
    <th>Appointment Time</th>
    <th>Appointment Date</th>
  </tr>
{% if data %}
{% for d in data %}
<tr>
  {% for d2 in d %}
  <td>{{d2}}</td>
  {% endfor %}
{% endfor %}
</tr>
{% endif %}
</table>
<!-- <a href="/teacherDashboard">Dashboard</a> -->

<form id = "del_apt_form" action="" method="DELETE">
  <input type="number" name="id" placeholder="Enter ID Appointment for:" required="">
  <button id="submit" type="submit">Choose</button>
</form>

<script src="/static/input_del_appointments.js"></script>

</center>
{% if msg %}
{% if msg != None %}
{{msg}}
{% endif %}
{% endif %}
{% endblock %}