{% extends "layout.html" %}
{% block body %}
<center>
  
<h1><u>Items</u></h1>
<table border="2">
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Price</th>


  </tr>
{% if data %}
{% for d in data %}
<tr>
  {% for d2 in d %}
  <td>{{d2}}</td>
  {% endfor %}
{% endfor %}
</tr>
{% endif %}
</table>
  <a href="/delShowItems">Click To remove item</a>
  <br>
  <a href="/add_new_item">Click to Add Item</a>
  <br>
  <a href="/update_item">Click to Update Item</a>
</center>
{% if msg %}
{% if msg != None %}
{{msg}}
{% endif %}
{% endif %}
{% endblock %}