<!DOCTYPE html>
<html>
<head>
	<title>VetsUp</title>
	<link rel="stylesheet" type="text/css" href="static/style2.css">
	<link href="https://fonts.googleapis.com/css2?family=Jost:wght@500&display=swap" rel="stylesheet">
</head>
<body>

  <center>
    <h1><u>Patients</u></h1>
    <div style="overflow-y:auto;">
      <table border="2">
        <tr>
          <th>ID</th>
          <th>Speice</th>
          <th>Name</th>
          <th>Checkup Type</th>
        </tr>
      {% if data %}
      {% for d in data %}
      <tr>
        {% for d2 in d %}
        <td>{{d2}}</td>
        {% endfor %}
      {% endfor %}
      </tr>
      {% endif %}
      </table>
    </div>

    <h2><u>Update Patient</u></h2>

    <form action="/update_patients" method="POST">
      <input type="number" name="id" placeholder="Enter ID of Patient:" required="">
      <input class = "checkboxes" type="checkbox" name="diagnostic_tools" value="xray">
      <label>Xray</label>
      <input class = "checkboxes" type="checkbox" name="diagnostic_tools" value="ultra sound">
      <label>Ultra Sound</label>
      <input class = "checkboxes" type="checkbox" name="diagnostic_tools" value="cbc">
      <label>CBC</label>
      

      <input type="text" name="medicine" placeholder="Medicine">
      <input type="text" name="diagnosis" placeholder="Diagnosis">
      
      <button type="submit">Submit</button>
    </form>
  </center>

{% if msg %}
{% if msg != None %}
{{msg}}
{% endif %}
{% endif %}


</body>
</html>
